# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    locale: 'fr' # default locale for translation
    # ...
    # add your own parameters here
    # e.g. database_host:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # Définition du cache avec tags
    cache.app.tags:
        class: Symfony\Component\Cache\Adapter\TagAwareAdapter
        arguments: ['@cache.app']

    # Alias pour l'injection
    Symfony\Contracts\Cache\TagAwareCacheInterface: '@cache.app.tags'
    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\PeresCacheService:
        arguments:
            $appVersion: '%kernel.environment%' # Ou une version spécifique
    App\EventListener\NinasEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Ninas'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Ninas'}    # add more service definitions when explicit configuration is needed
    App\EventListener\NomsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Noms'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Noms'}    # add more service definitions when explicit configuration is needed
    App\EventListener\PrenomsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Prenoms'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Prenoms'}    # add more service definitions when explicit configuration is needed
    App\EventListener\Telephones1EntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Telephones1'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Telephones1'}    # add more service definitions when explicit configuration is needed
    App\EventListener\Telephones2EntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Telephones2'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Telephones2'}    # add more service definitions when explicit configuration is needed
    App\EventListener\ProfessionsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Professions'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Professions'}    # add more service definitions when explicit configuration is needed
    App\EventListener\PeresEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Peres'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Peres'} 
                - { name: 'doctrine.orm.entity_listener', event: 'postPersist', entity: 'App\Entity\Peres' }
                - { name: 'doctrine.event_listener', event: 'postFlush' } 
                  # add more service definitions when explicit configuration is needed
    App\EventListener\MeresEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Meres'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Meres'} 
                - { name: doctrine.orm.entity_listener, event: 'postPersist', entity: 'App\Entity\Meres' }
                - { name: doctrine.event_listener, event: 'postFlush' } 
                  # add more service definitions when explicit configuration is needed                
    App\EventListener\ParentsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Parents'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Parents'}    # add more service definitions when explicit configuration is needed
    App\EventListener\RegionsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Regions'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Regions'}    # add more service definitions when explicit configuration is needed
    App\EventListener\CerclesEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Cercles'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Cercles'}    # add more service definitions when explicit configuration is needed
    App\EventListener\CommunesEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Communes'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Communes'}    # add more service definitions when explicit configuration is needed
    App\EventListener\LieuNaissancesEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\LieuNaissances'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\LieuNaissances'}    # add more service definitions when explicit configuration is needed
    App\EventListener\StatutsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Statuts'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Statuts'}    # add more service definitions when explicit configuration is needed
    App\EventListener\EnseignementsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Enseignements'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Enseignements'}    # add more service definitions when explicit configuration is needed
    App\EventListener\CyclesEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Cycles'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Cycles'}    # add more service definitions when explicit configuration is needed
    App\EventListener\NiveauxEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Niveaux'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Niveaux'}    # add more service definitions when explicit configuration is needed
    App\EventListener\EtablissementsEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Etablissements'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Etablissements'}    # add more service definitions when explicit configuration is needed
                - { name: 'doctrine.orm.entity_listener', event: 'postPersist', entity: 'App\Entity\Etablissements' }
                - { name: 'doctrine.event_listener', event: 'postFlush' } 
    App\EventListener\UsersEntityListener:
            tags:
                - { name: 'doctrine.orm.entity_listener', event: 'prePersist', entity: 'App\Entity\Users'}
                - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', entity: 'App\Entity\Users'}    # add more service definitions when explicit configuration is needed
                #- { name: 'doctrine.orm.entity_listener', event: 'postPersist', entity: 'App\Entity\Users' }
                #- { name: 'doctrine.event_listener', event: 'postFlush' } 

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
